# API Keys
.ei_api_key
*.key
*_key.txt
.env
#
data/collected/**/*.jpg
data/collected/**/*.png
data/upload_test/*.jpg
#
!data/collected/.gitkeep
!data/upload_test/.gitkeep

#
*.eim
*.tflite

#
logs/*.log

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
#
.vscode/
.idea/
*.swp
